/*	Layout
=======================*/

.gallery {
  background: #EEE;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 4fr));
  grid-gap: 20px;
  align-items: start;
}
.gallery-item {
  border: 1px solid #F3F0F0;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  padding: 0.5em;
  background: #FFF;
}
.gallery-item h3 { font-family: 'Leckerli One', cursive; }
.gallery-item p {
  word-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.img-overlay-wrap {
  width: 100%;
  position: relative;
  display: inline-block; /* <= shrinks container to image size */
  transition: transform 150ms ease-in-out;
}

.img-overlay-wrap img {
  width: 100%;
}

.img-overlay-wrap svg {
  position: absolute;
  top: 0;
  left: 0;
}

.gallery-item:hover .img-overlay-wrap svg {
  top: -10em;
  /* -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease; */
  transition: all 0.5s ease;
  /* transform: rotate( 15deg ); */
}

/* .gallery-item:before {
  content: "Click to view";
  position: absolute;
  top: 0.5em;
  left: -30em;
  background-color: #FFF;
  background-color: rgba(255, 255, 255, 0.99);
  color: #F57171;
  padding: 0.56em 1em;
  border-radius: 5px 0 0 0;
  transition: all 1s ease;
}

.gallery-item:hover:before {
  left: 0.5em;
  transition: all 1s ease;
} */